@charset 'utf-8';

html,
body,
#contents-wrap,
#map-wrap {
	height: 100%;
	padding: 0px;
}
#map-canvas {
	height: 100%;
	width: 100%;
}

.w30m-panel {
	position: absolute;
	padding: 0.5em 8px 0.5em 8px;
	z-index: 100;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.7);
}
#controls label {
	font-weight: normal;
}
#controls input[type=radio] + label {
	margin-right: 1em;
	margin-left: 0.4em;
}
#controls input[type=text] {
	width: 90px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.8);
	border: 2px solid transparent;
	border-radius: 2px;
	margin: 0 4px;
}

@media(max-width: 375px) {
	#filter {
		width: 100%;
	}
}

#stats {
	bottom: 0;
	display: none;
}

.w30m-close {
	font-size: 26px;
	color: #fff;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	padding: 8px;
}
.w30m-close:hover {
	opacity: 0.7
}

#toggle-controls {
	color: rgba(0, 0, 0, 0.6);
	font-size: 200%;
	text-shadow: 0px 0px 3px inset #000 ;
	display: none;
	border: none;
	background-color: inherit;
	padding: 0;
}
#toggle-stats {
	bottom: 0;
}
.w30m-button {
	z-index: 200;
	right: 0;
	position: absolute;
	margin: 8px;
}

#stats h3 {
	font-size: 120%;
	text-align: center;
}
.gm-style-iw .btn {
	margin-bottom: 4px;
	margin-right: 4px;
}
