.entrance .tools .basic {
  padding: 2em 1em;
}

.tools {
  background: #ddd;
  text-align: center;
  position: relative;
  z-index: 100;
}

.tools .basic {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: calc(64px + 1em);
}
.tools .basic .toolItem {
  margin-right: .5em;
}
.tools .basic .toolItem.travelMode label {
  display: block;
  text-align: left;
}
.tools .basic .methods {
  display: none;
}
.tools .basic input[type=text] {
  padding: .5em 1em;
  border: none;
  background: transparent;
  border-bottom: 3px solid #4ca;
}
@media(orientation: portrait) {
  .tools .basic {
    padding-right: calc(48px + 1em);
  }
  .tools .basic {
    flex-direction: column;
  }
  .tools .basic .toolItem.travelMode label {
    display: inline-block;
  }
}
