.staticContent {
  margin: 0 auto;
  max-width: 960px;
}

.staticContent h2 {
  margin: 2em 0;
}

button:focus,
input:focus {
  outline: none;
}

a,
a:visited {
  color: #4ca;
}

a[action],
button[action] {
  border-radius: 6px;
  border: 3px solid #4ca;
  background: #fff;
  color: #000;
  font-size: 1.2em;
  padding: .3em 1em;
  margin: 0 .5em;
  cursor: pointer;
}
a[action]:disabled,
button[action]:disabled {
  opacity: .4;
  cursor: auto;
}

select,
input[type=radio],
input[type=checkbox] {
  margin-left: .5em;
  margin-right: .5em;
}
