.staticContent {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 960px;
}

.staticContent h2 {
  margin: 2em 0;
}

button:focus,
input:focus {
  outline: none;
}

a,
a:visited {
  color: #4ca;
}

a[action],
button[action] {
  border-radius: 6px;
  border: 3px solid #4ca;
  background: #fff;
  color: #000;
  font-size: 1.2em;
  padding: .3em 1em;
  margin: 0 .5em;
  cursor: pointer;
}
a[action]:disabled,
button[action]:disabled {
  opacity: .4;
  cursor: auto;
}

select,
input[type=radio],
input[type=checkbox] {
  margin-left: .5em;
  margin-right: .5em;
}

.toolButton {
  position: absolute;
  top: 0;
  width: 64px;
  border: none;
  background: rgba(85, 119, 153, .2);
  padding: 16px;
  height: 100%;
  cursor: pointer;
}
.toolButton.left {
  left: 0;
}
.toolButton.right {
  right: 0;
}

@media(orientation: portrait) {
  .toolButton {
    width: 48px;
  }
  a[action],
  button[action] {
    font-size: 1em;
  }
}
