.notification {
  padding: 1em 2em;
  position: fixed;
  right: 0;
  margin: 1em;
  width: 280px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .7);
  transition: bottom 500ms ease;
  z-index: 200;
  max-width: calc(100% - 6em);
}

.notification.shown {
  bottom: 0;
}
.notification.hidden {
  bottom: -100px;
}

.notification.I {
  background: #333;
  color: #fff;
}
.notification.W {
  background: #f80;
  color: #fff;
}
.notification.E {
  background: #e44;
  color: #fff;
}
