.appHeader {
  background: #eee;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: .5em;
  transition: all 500ms ease;
  min-height: 92px;
}
.appHeader p,
.appHeader h1 {
  margin: 0;
}
.titleText {
  color: #333!important;
  text-decoration: none;
}
.appHeader h1:before {
  display: inline-block;
  content: '.';
  color: transparent;
  width: 48px;
  height: 48px;
  background-image: url(/images/favicon-96x96.png);
  background-size: contain;
  vertical-align: middle;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  position: absolute;
  flex-direction: column;
  bottom: auto;
  top: 100%;
  right: 0;
}
.menu li {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;
}
.menu a {
  padding: 0 1em;
  background: #333;
  color: #fff;
  vertical-align: middle;
  padding: .8em 1em;
  width: 200px;
  text-decoration: none;
  transition: all 500ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu a:hover {
  background: #555;
}

.entrance.appHeader {
  min-height: 30vh;
}
.entrance.appHeader h1 {
  padding: .5em 0;
}
.entrance .menu a {
  margin-right: 3px;
}
.entrance .menu {
  flex-direction: row;
  bottom: 8px;
  top: auto;
  right: auto;
  padding: 0;
}
.menuButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #579;
  border: none;
  width: 64px;
  color: #fff;
  cursor: pointer;
}
.menu .active a {
  background-color: #555;
}
