.advanced {
  position: absolute;
  width: 100%;
  background: rgba(239, 239, 239, .9);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: row;
}
.advanced .header {
  flex: 2;
  padding: 1em;
  color: #fff;
  background: #579;
}
.advanced .toolItem {
  flex: 3;
  padding: 1em;
}
.advanced .toolItem ul {
  list-style-type: none;
}
.advanced .toolItem li {
  text-align: left;
}
.advanced .toolItem h3 {
  border-bottom: 1px solid #999;
}
